* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    color: white;
    background-color: maroon;
}

nav:after {
    content: ' ';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background-color: maroon;
    margin: 0 5px;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover,
.search button:hover {
    border-radius: 5px;
    color:grey;
    box-shadow: 0 0 5px grey, 0 0 5px grey;
    text-decoration: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid grey;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 10;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0, .3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover {
    color:grey;
    box-shadow: none;
}

.show,
#btn-1,
#btn-2,
.icon,
#btn {
    display: none;
}

.cart2 {
    display: none;
}

@media all and (max-width: 986px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav.logo {
        padding-left: 30px;
        width: 100%;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: grey;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show+a,
    ul {
        display: none;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    .cart1 {
        display: none;
    }
    .cart2 {
        display: block;
    }
}

.title:hover {
    transform: skewY(2deg);
}

.title {
    transition: all .2s;
}

.signup {
    max-width: 1000px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 50px;
}

.signup .title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: grey;
    background: linear-gradient(to right, #f4524d 0%,grey 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact_form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact_form .form-field .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: maroon;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}

.contact_form .input-text:focus {
    outline: none;
}

.contact_form .label {
    position: absolute;
    left: 20px;
    bottom: 18px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color:maroon;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.contact_form .submit-btn {
    display: inline-block;
    background-image: linear-gradient(125deg,maroon, #5a5c5f);
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    width: 200px;
    cursor: pointer;
}

.contact_form .input-text:focus+.label,
.contact_form .input-text.not-empty+.label {
    transform: translateY(-24px);
}

.reset {
    display: inline-block;
    background-image: linear-gradient(125deg,maroon, #5a5c5f);
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    width: 200px;
    cursor: pointer;
}

.reset span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.reset span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.reset:hover span {
    padding-right: 25px;
}

.reset:hover span:after {
    opacity: 1;
    right: 0;
}

footer a {
    color: white;
}

.checkout {
    max-width: 1000px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 50px;
}

.title:hover {
    transform: rotate(3deg);
}

.title {
    transition: all .2s;
}

.title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 48px;
    padding-bottom: 20px;
    color: maroon;
    background: linear-gradient(to right, #d66f6b 0%,grey 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit {
    display: inline-block;
    background-image: linear-gradient(125deg, maroon, #5c5e61);
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    width: 230px;
    cursor: pointer;
}

.input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 3px 0;
    border-color: maroon;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    border-radius: 0;
}

label,
.sidebar {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: maroon;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 2%;
}

.input-text:focus {
    box-shadow: none;
}

select {
    display: block;
    font-size: 16px;
    font-family: 'Lucide Handwriting', 'sans-serif';
    font-weight: 700;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #a72879 0%, #064497 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border-color: #aaa;
    color: white;
    outline: none;
}

select option {
    font-weight: normal;
}

footer a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
}